<div class="container p-3">
  <div class="row">
    <div class="row-md-4 mx-auto">
      <div class="card">
        <div class="card-body">
          <form action="/api/folders/add" method="post" class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" name="folder_name" placeholder="Folder Name" autofocus/>
            </div>
            <div class="form-group">
              <button class="btn btn-success btn-block"  title="Add new folder"><i class="bi-file-plus"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>