<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>SignUp</h3>
                </div>
                <div class="card-body">
                    <form action="/signup" method="post">
                    <div class="form-group">
                        <input type="text" name="name_first" placeholder="First Name" class="form-control" autofocus>
                        <input type="text" name="name_last" placeholder="Last Name" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" placeholder="e-Mail" class="form-control">
                        <input type="password" name="password" placeholder="Password" class="form-control">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success btn-block">SigUp</button>
                        <a href="/login" class="btn btn-success btn-block">I Have Account</a>
                    </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>